<div xmlns:th="http://www.thymeleaf.org" th:fragment="kit-table">
    <table>
        <tr>
            <th>Korzystający</th>
            <th>Telefon</th>
            <th>Komputer</th>
            <th>Monitor</th>
            <th>Drukarka</th>
        </tr>
        <tr th:each="k : ${kits}">
            <td th:text="${k.getUser().getFirstName() +' '+ k.getUser().getLastName()}"></td>
            <td th:text="${k.getTelephone().getPhoneNumber()}"></td>
            <td th:text="${k.getComputer().getDeviceManufacturer() +' | '+ k.getComputer().getSerialNumber()}"></td>
            <td th:text="${k.getMonitor().getDeviceManufacturer() +' | '+k.getMonitor().getSerialNumber()}"></td>
            <td th:text="${k.getPrinter().getDeviceManufacturer()+' | '+k.getPrinter().getSerialNumber()}"></td>
            <td>
                <a th:href="@{'/admin/kit/' +${k.getKitId()} + '/updateKit'}">Edytuj</a>
            </td>
            <td>
                <form action="/delete" method="get">
                    <input type="hidden" th:value="${k.getKitId()}" name="kitId">
                    <button type="submit">
                        <i aria-hidden="true"></i> Delete
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>