<div xmlns:th="http://www.thymeleaf.org" th:fragment="manufacturer-table">
    <table>
        <tr>
            <th>Nazwa producenta</th>
        </tr>
        <tr th:each="m : ${manufacturers}">
            <td th:text="${m.getManufacturerName()}"></td>
            <td>
                <a th:href="@{'/admin/manufacturer/' +${m.getManufacturerId()} + '/updateManufacturer'}">Edytuj</a>
            </td>
            <td>
                <form action="/delete" method="get">
                    <input type="hidden" th:value="${m.getManufacturerName()}" name="manufacturerName">
                    <button type="submit">
                        <i aria-hidden="true"></i> Delete
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>