<div xmlns:th="http://www.thymeleaf.org" th:fragment="add-manufacturer">
    <h4 th:text="${formName}"></h4>

    <form th:action="@{'/admin/manufacturer'}" th:method="put" th:object="${manufacturerDto}">
        <input type="number" name="manufacturerId" th:value="${manufacturerDto.getManufacturerId()}" readonly hidden="hidden">

        <label for="manufacturerName" style="color: #FF0000"
               th:if="${#fields.hasErrors('manufacturerName')}"
               th:errors="*{manufacturerName}"></label>
        <input id="manufacturerName" type="text" name="manufacturerName" th:value="${manufacturerDto.getManufacturerName()}">
        <button type="submit">Edytuj</button>

    </form>
    <a th:href="@{'/admin/manufacturer'}">
        <button>Cofnij</button>
    </a>
</div>