<div xmlns:th="http://www.thymeleaf.org" th:fragment="res-pas">
    <h4 th:text="${formName}"></h4>
    <h4>Resetowanie hasła użytkownika <span th:text="${userDto.getFirstName() + ' '+ userDto.getLastName()}"></span></h4>
    <form th:action="@{'/admin/user/resetPassword'}" th:method="put" th:object="${userDto}">
        <input type="number" name="userId" th:value="${userDto.getUserId()}" readonly hidden="hidden">
        <span th:text="${info}" style="color: #FF0000"></span>
        <label for="password" style="color: #FF0000"
               th:if="${#fields.hasErrors('password')}"
               th:errors="*{password}"></label>
        <input id="password" type="password" name="password">

        <label for="confirmPassword" style="color: #FF0000"
               th:if="${#fields.hasErrors('confirmPassword')}"
               th:errors="*{confirmPassword}"></label>
        <input id="confirmPassword" type="password" name="confirmPassword">

        <button type="submit">Resetuj</button>
    </form>
    <a th:href="@{'/admin/user'}">
        <button>Cofnij</button>
    </a>
</div>