<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<div xmlns:th="http://www.thymeleaf.org" th:fragment="admin-tools">
    <h4 th:text="${pageName}"></h4>
    <a th:href="@{/admin/department}">Działy</a><br>
    <a th:href="@{/admin/user}">Korzystający</a><br>
    <hr>
    <a th:href="@{/admin/manufacturer}">Producenci urządzeń</a><br>
    <a th:href="@{/admin/type}">Modele urządzeń</a><br>
    <hr>
    <a th:href="@{/admin/mobile}">Urządzenia mobilne</a><br>
    <a th:href="@{/admin/sim}">Karty SIM</a><br>
    <hr>
    <a th:href="@{/admin/computer}">Komputery</a><br>
    <a th:href="@{/admin/monitor}">Monitory</a><br>
    <a th:href="@{/admin/peripheral}">Peryferia</a><br>
    <a th:href="@{/admin/software}">Oprogramowanie</a><br>
    <hr>
    <a th:href="@{/admin/phone}">Telefonia stacjonarna</a><br>
    <hr>
    <a th:href="@{/admin/printer}">Drukarki</a><br>
    <a th:href="@{/admin/consumable}">Eksploatacja</a><br>
    <hr>
    <a th:href="@{/admin/other}">Inne urządzenia</a><br>

</div>