<div xmlns:th="http://www.thymeleaf.org" th:fragment="sim-table">
    <table>
        <tr>
            <th>Numer telefonu</th>
            <th>Kod PIN</th>
            <th>Kod PUK</th>
            <th>Numer karty SIM</th>
        </tr>
        <tr th:each="s : ${sims}">
            <td th:text="${s.getPhoneNumber()}"></td>
            <td th:text="${s.getPinNumber()}"></td>
            <td th:text="${s.getPukNumber()}"></td>
            <td th:text="${s.getSimCardNumber()}"></td>
            <td>
                <a th:href="@{'/admin/sim/' +${s.getSimCardId()} + '/updateSim'}">Edytuj</a>
            </td>
            <td>
                <form action="/delete" method="get">
                    <input type="hidden" th:value="${s.getSimCardId()}" name="simCardId">
                    <button type="submit">
                        <i aria-hidden="true"></i> Delete
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>