<div xmlns:th="http://www.thymeleaf.org" th:fragment="software-table">
    <table>
        <tr>
            <th>Nazwa programu</th>
            <th>Licencja</th>
            <th>Komputer zestawiony</th>

        </tr>
        <tr th:each="s : ${software}">
            <td th:text="${s.getSoftwareName()}"></td>
            <td th:text="${s.getLicenseNumber()}"></td>
            <td th:text="${s.getComputer()}"></td>
            <td>
                <a th:href="@{'/admin/software/' +${s.getSoftwareId()} + '/updateSoftware'}">Edytuj</a>
            </td>
            <td>
                <form action="/delete" method="get">
                    <input type="hidden" th:value="${s.getSoftwareId()}" name="softwareId">
                    <button type="submit">
                        <i aria-hidden="true"></i> Delete
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>