<div xmlns:th="http://www.thymeleaf.org" th:fragment="add-software">
    <h4 th:text="${formName}"></h4>

    <form th:action="@{'/admin/software'}" th:method="put" th:object="${softwareDto}">
        <input type="number" name="softwareId" th:value="${softwareDto.getSoftwareId()}" readonly hidden="hidden">
        <input type="text" name="softwareName" th:value="${softwareDto.getSoftwareName()}">
        <input type="text" name="licenseNumber" th:value="${softwareDto.getLicenseNumber()}">
        <input type="text" name="computer" th:value="${softwareDto.getComputer()}">
        <button type="submit">Edytuj</button>

    </form>
</div>