<div xmlns:th="http://www.thymeleaf.org" th:fragment="add-printer">
    <h4 th:text="${formName}"></h4>

    <form th:action="@{'/admin/printer'}" th:method="put" th:object="${printerDto}">
        <input type="number" name="printerId" th:value="${printerDto.getPrinterId()}" readonly hidden="hidden">
        <input type="text" name="deviceManufacturer" th:value="${printerDto.getDeviceManufacturer()}">
        <input type="text" name="deviceType" th:value="${printerDto.getDeviceType()}">
        <input type="text" name="serialNumber" th:value="${printerDto.getSerialNumber()}">
        <input type="text" name="ipAddress" th:value="${printerDto.getIpAddress()}">
      <!--  <input type="text" name="computer" th:value="${printerDto.getComputer()}">-->
        <button type="submit">Edytuj</button>

    </form>
</div>