<div xmlns:th="http://www.thymeleaf.org" th:fragment="add-telephone">
    <h4 th:text="${formName}"></h4>

    <form th:action="@{'/admin/telephone'}" th:method="post" th:object="${mobileDeviceDto}">
        <select name="deviceManufacturer">
            <option disabled selected value="">Producent</option>
            <option th:each="p : ${produces}"
                    th:value="${p.getManufacturerName()}"
                    th:text="${p.getManufacturerName()}">
            </option>
        </select>

        <select name="deviceType">
            <option disabled selected value="">Model</option>
            <option th:each="m : ${models}"
                    th:value="${m.getTypeName()}"
                    th:text="${m.getTypeName()}">
            </option>
        </select>

        <input type="text" name="serialNumber" placeholder="numer seryjny">
        <input type="text" name="phoneNumber" placeholder="numer telefonu">
        <input type="text" name="imeiNumber" placeholder="numer IMEI">

        <select name="phoneType">
            <option disabled selected value="">Typ telefonu</option>
            <option th:each="t : ${T(com.example.company.device_library.model.MobileDevice.PhoneType).values()}"
                    th:value="${t}"
                    th:text="${t.getType()}">
            </option>
        </select>

        <button type="submit">Dodaj</button>

    </form>
</div>