<div xmlns:th="http://www.thymeleaf.org" th:fragment="add-sim">
    <h4 th:text="${formName}"></h4>

    <form th:action="@{'/admin/telephone/addSimCard/'+${telephoneDto.getMobileDeviceId()}}"
          th:method="post" th:object="${telephoneDto}">

        <select  name="simCard">
            <option selected disabled>Karta SIM</option>
            <option th:each="s : ${sims}"
                    th:value="${s.getSimCardId()}"
                    th:text="${s.getPhoneNumber()+' | '+s.getSimCardNumber()}">
            </option>
        </select>
        <button type="submit">Dodaj</button>

    </form>
</div>