<div xmlns:th="http://www.thymeleaf.org" th:fragment="add-sim">
    <h4 th:text="${formName}"></h4>

    <form th:action="@{'/admin/mobile/addSimCard/'+${mobileDeviceDto.getMobileDeviceId()}}"
          th:method="put" th:object="${mobileDeviceDto}">
        <span th:text="${mobileInfoWarning}" style="color: #FF0000"></span>
        <ul style="list-style-type: none">
            <li th:each="s : ${sims}">
                <label for="simCard"></label>
                <input id="simCard" name="simCard" type="radio" th:value="${s.getSimCardId()}"
                       th:text="${s.getPhoneNumber()+' | '+s.getSimCardNumber()}">
            </li>
        </ul>
        <button type="submit">Dodaj</button>
    </form>
    <a th:href="@{'/admin/mobile'}">
        <button>Anuluj</button>
    </a>
    <a th:href="@{'/admin/mobile/sim'}">
        <button>Zwolnij zasoby</button>
    </a>
</div>