<div xmlns:th="http://www.thymeleaf.org" th:fragment="mobile-table">
    <table>
        <tr>
            <th>Producent</th>
            <th>Model</th>
            <th>Numer seryjny</th>
            <th>Numer IMEI</th>
            <th>Typ telefonu</th>
            <th>Numer telefonu</th>

        </tr>
        <tr th:each="m : ${mobiles}">
            <td th:text="${m.getDeviceManufacturer()}"></td>
            <td th:text="${m.getDeviceType()}"></td>
            <td th:text="${m.getSerialNumber()}"></td>
            <td th:text="${m.getImeiNumber()}"></td>
            <td th:text="${m.getPhoneType().getType()}"></td>
            <td th:text="${m.getSimCard().getPhoneNumber()}"></td>

            <td>
                <a th:href="@{'/admin/mobile/' +${m.getMobileDeviceId()} + '/addSimCard'}">Przypisz kartę SIM</a>
            </td>
            <td>
                <a th:href="@{'/admin/mobile/' +${m.getMobileDeviceId()} + '/updateMobileDevice'}">Edytuj urządzenie</a>
            </td>

            <td>
                <form action="/delete" method="get">
                    <input type="hidden" th:value="${m.getMobileDeviceId()}" name="mobileDeviceId">
                    <button type="submit">
                        <i aria-hidden="true"></i> Delete
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>