<div xmlns:th="http://www.thymeleaf.org" th:fragment="peripheral-table">
    <table>
        <tr>
            <th>Rodzaj połączenia</th>
            <th>Nazwa urządzenia</th>
            <th>Powiązany komputer</th>
        </tr>
        <tr th:each="p : ${peripherals}">
            <td th:text="${p.getTypeInterface()}"></td>
            <td th:text="${p.getNamePeripheral()}"></td>
            <td th:text="${p.getComputer()}"></td>
            <td>
                <a th:href="@{'/admin/peripheral/' +${p.getPeripheralId()} + '/updatePeripheral'}">Edytuj</a>
            </td>
            <td>
                <form action="/delete" method="get">
                    <input type="hidden" th:value="${p.getPeripheralId()}" name="peripheralId">
                    <button type="submit">
                        <i aria-hidden="true"></i> Delete
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>