<div xmlns:th="http://www.thymeleaf.org" th:fragment="add-printer">
    <h4 th:text="${formName}"></h4>

    <form th:action="@{'/admin/computer/addPrinter/'+${computerDto.getComputerId()}}"
          th:method="put" th:object="${computerDto}">
        <span th:text="${computerInfoWarning}" style="color: #FF0000"></span>
        <ul style="list-style-type: none">
            <li th:each="p : ${printers}">
                <label for="printer"></label>
                <input id="printer" name="printer" type="radio" th:value="${p.getPrinterId()}"
                       th:text="${p.getDeviceManufacturer()+' | '+p.getDeviceType()+' | '+p.getSerialNumber()}">
            </li>
        </ul>
        <button type="submit">Dodaj</button>
    </form>
    <a th:href="@{'/admin/computer'}">
        <button>Cofnij</button>
    </a>
</div>