<div xmlns:th="http://www.thymeleaf.org" th:fragment="computer-table">
    <table>
        <tr>
            <th>Producent</th>
            <th>Model</th>
            <th>Nazwa maszyny</th>
            <th>Numer Seryjny</th>
            <th>Rodzaj</th>
        </tr>
        <tr th:each="c : ${computers}">
            <td th:text="${c.getDeviceManufacturer()}"></td>
            <td th:text="${c.getDeviceType()}"></td>
            <td th:text="${c.getComputerAdName()}"></td>
            <td th:text="${c.getSerialNumber()}"></td>
            <td th:text="${c.getComputerType().getType()}"></td>
            <td>
                <a th:href="@{'/admin/computer/' +${c.getComputerId()} + '/addMonitor'}">Dodaj monitor</a>
            </td>
            <td>
                <a th:href="@{'/admin/computer/' +${c.getComputerId()} + '/addPrinter'}">Dodaj drukarkę</a>
            </td>
            <td>
                <a th:href="@{'/admin/computer/' +${c.getComputerId()} + '/updateComputer'}">Edytuj</a>
            </td>
            <td>
                <form action="/delete" method="get">
                    <input type="hidden" th:value="${c.getComputerId()}" name="computerId">
                    <button type="submit">
                        <i aria-hidden="true"></i> Delete
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>